@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Karla", sans-serif;
}

/*-------------------------------------------------------Home-------------------------------------------------------*/
#menu :first-child {
  border-color: #fffbfc;
  transition: all ease 0.3s;
}
#menu:hover a {
  border-color: rgba(255, 255, 255, 0);
  transition: all ease 0.3s;
}
#menu a {
  border: 2px solid rgba(255, 255, 255, 0);
  transition: all ease 0.3s;
}
#menu a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-color: #fffbfc;
  cursor: pointer;
}

#socials a {
  opacity: 100%;
  transition: all ease 0.3s;
}
#socials:hover a {
  opacity: 50%;
}
#socials a:hover {
  opacity: 100%;
}

/*-------------------------------------------------------NAV-------------------------------------------------------*/
.selected {
  --tw-border-opacity: 1;
}

/*-------------------------------------------------------Gallery-------------------------------------------------------*/
.item {
  margin-bottom: 10px;
  border-radius: 10px;
}
.item h2 {
  padding: 0 4px;
  margin-top: 6px;
  opacity: 90%;
  font-size: 18px;
  line-height: 26px;
}
.item h6 {
  padding: 0 4px;
  opacity: 60%;
  font-size: 15px;
  line-height: 20px;
}
.item-img {
  border-radius: 10px;
}
