@tailwind base;
@tailwind components;
@tailwind utilities;
/*npx tailwindcss -i ./src/css/input.css -o ./dist/output.css --watch*/

body {
  font-family: "Karla", sans-serif;
}

/*-------------------------------------------------------Key Frames-------------------------------------------------------*/
@keyframes slideFrameInFromBottom {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0%);
  }
}
.active {
  transform: translateY(110%);
  height: 100vh;
}
.animateFrame {
  animation: 1s ease-in-out 0s 1 forwards slideFrameInFromBottom;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideOutFromBottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes slideHomeOutThroughTop {
  0% {
    transform: translateY(0%);
    background-position: 0px 0px;
  }
  100% {
    transform: translateY(-100%);
    background-position: 0px -120vh;
  }
}
@keyframes slideHomeInThroughTop {
  0% {
    transform: translateY(-100%);
    background-position: 0px -110vw;
  }
  100% {
    transform: translateY(0%);
    background-position: 0px 0px;
  }
}

/*-------------------------------------------------------Home-------------------------------------------------------*/
#menu :first-child {
  border-color: #fffbfc;
  transition: all ease 0.3s;
}
#menu:hover a {
  border-color: rgba(255, 255, 255, 0);
  transition: all ease 0.3s;
}
#menu a {
  border: 2px solid rgba(255, 255, 255, 0);
  transition: all ease 0.3s;
}
#menu a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-color: #fffbfc;
  cursor: pointer;
}

#socials a {
  opacity: 100%;
  transition: all ease 0.3s;
}
#socials:hover a {
  opacity: 50%;
}
#socials a:hover {
  opacity: 100%;
}
#home-page-body {
  background-color: "#010400";
}

.home-page-body-animation-out {
  animation: 1s ease-in-out 0s 1 forwards slideHomeOutThroughTop;
}
.home-page-body-animation-in {
  animation: 1s ease-in-out 0s 1 forwards slideHomeInThroughTop;
}

/*-------------------------------------------------------NAV-------------------------------------------------------*/
.selected {
  --tw-border-opacity: 1;
}

@media (max-width: 740px) {
  .expanded {
    height: 300px;
    border-bottom: 1px solid rgb(35, 35, 35, 0.2);
  }
}
#nav-expander {
  transition: all ease-in-out 0.5s;
}

/*-------------------------------------------------------Gallery-------------------------------------------------------*/

.page-body-animation-in {
  animation: 1s ease-in-out 0s 1 forwards slideInFromBottom;
}
.page-body-animation-out {
  animation: 1s ease-in-out 0s 1 forwards slideOutFromBottom;
}

.item {
  margin-bottom: 10px;
  border-radius: 10px;
}
.item h2 {
  padding: 0 4px;
  margin-top: 6px;
  opacity: 90%;
  font-size: 18px;
  line-height: 26px;
}
.item h6 {
  padding: 0 4px;
  opacity: 60%;
  font-size: 15px;
  line-height: 20px;
}
.item-img {
  border-radius: 10px;
}

/*-------------------------------------------------------Gallery-------------------------------------------------------*/
.contact-div {
  font-size: 24px;
  position: relative;
  width: 100%;
  height: 50px;
}

.contact-input {
  width: 100%;
  height: 100%;
  font-size: 20px;
  line-height: 20px;
  padding: 25px 0 5px 5px;
  outline: none;
  background-color: #fffbfc;
  border-bottom: 2px solid #0104002c;
  transition: all ease-in-out 0.4s;
}
.contact-input:focus {
  outline: none;
  border-color: #010400;
}

.contact-input:focus + .contact-label,
.contact-input:valid + .contact-label {
  font-size: 14px;
  padding-top: 3px;
  opacity: 0.5;
}

.contact-label {
  position: absolute;
  left: 3px;
  width: 100%;
  height: 100%;
  padding-top: 13px;
  transition: all ease-in-out 0.2s;
  opacity: 0.8;
}
.contact-label:hover {
  cursor: text;
}

#commission {
  width: 20px;
  height: 20px;
  opacity: 0;
}
#commission:hover {
  cursor: pointer;
}

#commission-display {
  display: flex;
  justify-content: center;
  align-items: center;
}
#commission-display-inside-checkbox {
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  background-color: #010400;
  opacity: 0;
  transition: all ease-in-out 0.4s;
}

.checkbox {
  border: 2px solid #0104002c;
  width: 20px;
  height: 20px;
  transition: all ease-in-out 0.4s;
  padding: 2px;
}

.check {
  border-color: #010400;
  border-radius: 5px;
}
.check #commission-display-inside-checkbox {
  opacity: 1;
}

#contact-content {
  width: 100%;
  background-color: #fffbfc;
  border: 2px solid #0104002c;
  transition: all ease-in-out 0.4s;
}
#contact-content:focus {
  outline: none;
  border-color: #010400;
}

@media (prefers-color-scheme: dark) {
  .contact-input {
    background-color: #010400;
    border-color: #fffbfc2c;
  }
  .contact-input:focus {
    outline: none;
    border-color: #fffbfc;
  }

  #commission-display-inside-checkbox {
    background-color: #fffbfc;
  }
  .checkbox {
    border-color: #fffbfc2c;
  }
  .check {
    border-color: #fffbfc;
  }
}
